*.env
*.env.local
*node_modules*
*dist*
*build*

# Next.js build artifacts
#.next/
#_next/
#out/
#**/out/

#*.next/

outlet-landing-page/.next/

# Project specific
outlet-landing-page/node_modules
#outlet-landing-page/out
#outlet-landing-page/_next
#outlet-landing-page/.next
outlet-landing-page/PROJECT_ANALYSIS.md
outlet-landing-page/DESIGN_IMPROVEMENT_PLAN.md