@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.global-element::after {
  content: "";
  position: absolute;
  top: -35px;
  right: 0;
  width: 315px;
  height: 335px;
  border-radius: 16px;
  background: linear-gradient(90deg, #6b70ff 0%, #0bb0ee 100%), #2e3191;
  box-shadow: 0 107.708px 86.1664px rgba(0, 0, 0, 0.03);
  z-index: -1;
}

.custom-before::before {
  content: "";
  position: absolute;
  bottom: -40px;
  left: 50%;
  width: 1133px;
  transform: translateX(-50%);
  background: linear-gradient(to right, #F5F6F8, #ECFAFD, #F5F6F8);
  box-shadow: 0 30px 60px 10px rgba(14, 54, 101, 0.06);
  border-radius: 16px;
  height: 83px;
  z-index: -1;
}

.no-select {
  user-select: none; /* Non-standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.top-background {
  background: url('/banner.webp') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

.solar-background {
  background: url('/favorite-tools.webp') no-repeat center center fixed;
  background-size: cover;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inventory::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: url('/invetory-management.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.button-gradient {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; /* px-4 py-2 */
  border-radius: 9999px; /* rounded-full */
  background: linear-gradient(to right, #0062ff, #02ffe2f4); /* from-teal-500 to-blue-500 */
  color: white;
  font-weight: 500; /* font-semibold */
  font-size: 1rem; /* text-lg */
  background-size: 200%;
  /* transition: background 1s ease-in-out, transform 1s ease-in-out; */
}

.gradient-text {
 /* Adjust as needed */
  background: linear-gradient(to right, #3b82f6, #14b8a6); /* Gradient colors */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent; 
}

.custom-gradient-text {
  background: linear-gradient(90deg, #3b82f6 -4.27%, #14b8a6 67.83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.custom-gradient-background {
  background: linear-gradient(118.97deg, #fedbff 0.78%, #d2f4ff 26.77%, #fafee3 56.15%, #f9edff 94.7%);
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); /* Counter-clockwise */
  }
}

@keyframes rotate-fix {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg); /* Counter rotation */
  }
}

@keyframes rotate-fix-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); /* Counter rotation */
  }
}

.animate-rotate-right {
  animation: rotate-right 100s linear infinite;
}

.animate-rotate-right-2 {
  animation: rotate-right 90s linear infinite;
}

.animate-rotate-left {
  animation: rotate-left 80s linear infinite; /* Left (counterclockwise) rotation */
}

.rotate-fix {
  transform-origin: center;
  animation: rotate-fix 100s linear infinite; /* Counter rotation to keep images upright */
}

.rotate-fix-2 {
  transform-origin: center;
  animation: rotate-fix 90s linear infinite; /* Counter rotation to keep images upright */
}

.rotate-fix-left {
  transform-origin: center;
  animation: rotate-fix-left 80s linear infinite; /* Counter rotation to keep images upright */
}

.button-gradient:hover {
  background: #3b82f6; /* from-blue-500 to-blue-500 */
  transition: background-color transform 1s ease;
  /* transform: scale(1.05); */
}

.bg-gradient-to-right {
  background: linear-gradient(to right, #2e3192,#232670);
}

.bg-custom-gradient-seventh {
  background: linear-gradient(to right, #FDFFFE, #EFFDFA, #FDFFFE);
}

/* play button styles */
.circleRing {
  position: relative;
  display: inline-block;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border: 5px solid #e0ffff; /* Light cyan color */
  border-radius: 50%;
  background-color: #0BB0EE;
  text-decoration: none;
  /* overflow: hidden; */ /* Removed to allow ripple outside */
}

.circleRing::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Make it larger than the button to ensure ripple expands */
  height: 100%; /* Make it larger than the button */
  border-radius: 50%;
  border: 5px solid rgba(198, 198, 198, 0.3); /* Red color for visibility */
  box-sizing: border-box;
  transform: translate(0%, 0%) scale(1); /* Start at the outer edge of the button */
  transform-origin: center; /* Grow from the center outward */
  animation: wave 1s infinite linear;
}

.circleRing::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%; /* Make it larger than the button to ensure ripple expands */
  height: 100%; /* Make it larger than the button */
  border-radius: 50%;
  border: 5px solid rgba(201, 201, 201, 0.3); /* Red color for visibility */
  box-sizing: border-box;
  transform: translate(0%, 0%) scale(1); /* Start at the outer edge of the button */
  transform-origin: center; /* Grow from the center outward */
  animation: 2s wave infinite linear;
}

.playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; /* Adjust size as needed */
  height: 10px; /* Adjust size as needed */
  background: white;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}

@keyframes wave {
  0% {
    transform: translate(-50%, -50%) scale(1); /* Start from just outside the button */
 /* Full opacity */
  }
  50% {
    transform: translate(-50%, -50%) scale(1.3); /* Expand outward */
    opacity: 1; /* Fade slightly */
  }
  100% {
    transform: translate(-50%, -50%) scale(1.6); /* Fully expanded beyond the button */
    opacity: 0; /* Fully faded */
  }
}
